@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
header {
  width: 100%;
  background-color: #f5f5f6;
  margin-bottom: 80px;
}
.logo {
  width: 120px;
}
.hamburger-menu {
  display: none;
}
.header {
  width: 90%;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
ul li {
  list-style: none;
}
a {
  color: #959ba4;
  text-decoration: none;
}
a.active {
  color: black;
  font-weight: 600;
}
.exit {
  padding: 15px 20px;
  border: none;
  background-color: white;
  font-size: 18px;
}

main {
  width: 70%;
  margin: auto;
}
h1 {
  font-size: 46px;
  margin-bottom: 40px;
}
.currency-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.buttons button {
  padding: 10px 5px;
  border: 1px solid #9f9f9f;
  background-color: white;
  width: 25%;
}

input {
  width: 100%;
  height: 150px;
  font-size: 44px;
  padding: 10px 10px 60px 10px;
  border: 1px solid #9f9f9f;
}
.from,
.to {
  width: 48%;
}

.info {
  font-size: 14px;
  margin-bottom: 15px;
  color: #9f9f9f;
}

.rub {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.usd,
.rub,
.eur {
  border-right: none !important;
}
.gbp {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.selected {
  background-color: #833ae0 !important;
  color: white;
}

.currency-inputs {
  width: 90%;
  position: relative;
}

span {
  color: #9f9f9f;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.status {
  display: none;
  color: black;
  font-weight: bold;
}

.status.offline {
  display: block;
}

.error-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.error {
  font-size: 18px;
  color: red;
}
.sidebar {
  display: block;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 40px;
  }
  .hamburger-menu {
    display: block;
    border: none;
    background-color: transparent;
  }
  ul {
    display: none;
  }
  .sidebar {
    position: absolute;
    top: 83px;
    left: 0;
    background-color: white;
    width: 100%;
    height: 450px;
    z-index: 9999;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
  }

  .sidebar li {
    border-bottom: 1px solid #9f9f9f;
    width: 100%;
    padding: 10px;
  }
  .exit {
    display: none;
  }
  .from,
  .to {
    width: 100%;
  }
}